.appoint-container {
  padding: 30px;
}

.appoint-container h1 {
  text-align: center;
  padding-bottom: 20px;
}

#userPic {
  background-color: #f0f0f0;
  padding: 30px;
  border-radius: 50%;
  text-align: center;
  margin-right: 18px;
  font-size: 35px;
  color: #bbb;
}

.appoint-container .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.appoint-container .content .userDetail {
  border: 1px solid #f0f0f0;
  padding: 15px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  max-width: 100%;
  margin: 10px auto 0px auto;
}

.appoint-container .content .userDetail h3 {
  font-weight: 500;
  padding-bottom: 5px;
  text-transform: capitalize;
}

.appoint-container .content .userDetail p {
  color: #757575;
  font-size: 14px;
  padding-bottom: 4px;
}

.appoint-container .content .userDetail p i {
  padding-right: 5px;
}

.content .userDetail .actionBx button {
  padding: 5px 12px;
  margin: 4px;
  border: 1px transparent;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
}

.content .userDetail .actionBx button .fa-solid {
  padding-right: 8px;
}

.actionBx button:nth-child(1) {
  background-color: rgba(15, 183, 107, 0.12);
  color: #26af48 !important;
}

.actionBx button:nth-child(2) {
  background-color: rgba(242, 17, 54, 0.12);
  color: #e63c3c !important;
}